@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&family=Oswald:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom CSS Variables */
:root {
  /* Colors */
  --Grayish_blue: hsl(237, 18%, 59%);
  --Soft_red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark_desaturated_blue: hsl(236, 21%, 26%);
  --Very_dark_blue: hsl(235, 16%, 14%);
  --Very_dark_blac_blue: hsl(234, 17%, 12%);

  /* font size */
  --h-text: 1.1rem;
  --p-text: 1.8rem;
  --s-text: 0.5rem;

  /* custom-shape */
  --circle-width: 0.25em;
  --circle-height: 0.45em;
}

main {
  height: 100vh;
}
.video-bg {
  position: fixed;
  object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
body {
  color: #fff;
}

.netra .brand-text {
  color: #fff;
  font-weight: 600;
  font-size: 20px !important;
  font-family: "Oswald", sans-serif;
}
.brand {
  top: 50px;
  left: 50px;
  position: absolute;
}
.Main {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
.kait-home {
  -webkit-user-drag: none;
  width: 535px;
  height: 199px;
}

.tagline {
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.center {
  align-self: flex-end;
}

/* Font Styles */
.heading {
  font-size: var(--h-text);
  color: var(--White);
  letter-spacing: 0.5ch;
  text-align: center;
  margin-bottom: 3rem;
}

.primary {
  font-size: var(--p-text);
  color: #fff;
  text-align: center;
}

.sub-heading {
  font-size: var(--s-text);
  color: #fff;
  text-align: center;
  letter-spacing: 0.5ch;
  margin-top: 1em;
}

.countdown-timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.timer-box {
  width: 4rem;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--Dark_desaturated_blue);
  position: relative;
  border-radius: 0.25em;
}

.sheet {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--Very_dark_blue);
  opacity: 0.35;
}

.flip {
  transition: transform 1s;
  transform: translate(0%, 100%) scaleY(-1);
}

.circle-left {
  width: var(--circle-width);
  height: var(--circle-height);
  position: absolute;
  background-color: var(--Very_dark_blac_blue);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  top: 45%;
  left: 0;
}

.circle-right {
  width: var(--circle-width);
  height: var(--circle-height);
  position: absolute;
  background-color: var(--Very_dark_blac_blue);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  top: 45%;
  right: 0;
}

.bottom {
  align-self: end;
  margin-bottom: 4em;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.social-icon {
  cursor: pointer;
}

.social-icon:hover {
  filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(5054%)
    hue-rotate(297deg) brightness(99%) contrast(99%);
}

/* Media Queries for Responsive Design */
@media (min-width: 430px) {
  :root {
    --h-text: 1.25rem;
    --p-text: 2rem;
    --s-text: 0.5rem;

    --circle-width: 0.35em;
    --circle-height: 0.65em;
  }

  .timer-box {
    width: 5rem;
    padding: 0.75rem;
  }
}

@media (min-width: 550px) {
  :root {
    --p-text: 3rem;
    --s-text: 0.75rem;

    --circle-width: 0.4em;
    --circle-height: 0.7em;
  }

  .timer-box {
    width: 6rem;
    padding: 0.75rem;
  }
}

@media (min-width: 800px) {
  :root {
    --p-text: 4rem;
  }

  .timer-box {
    width: 8rem;
    padding: 1rem;
  }
}
